@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

.layer {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: 'reem kufi', cursive;
  font-weight: bold;
  font-size: 12.75px;
  line-height: 33.33333333px;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}
.circle {
  background: white;
  position: absolute;
  top: 16%;
  left: 16%;
  border-radius: 50%;
  width: 33.33333333px;
  height: 33.33333333px;
  z-index: 10;
}
.discuss {
  font-family: 'Fira Mono', monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 80px;
  margin-left: -80px;
}

.discuss a {
  color: black;
  text-decoration: none;
}
.discuss a:hover {
  text-decoration: underline;
}

.layer:after,
.layer:before {
  content: "";
  border-radius: 42%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.layer:after {
  box-shadow: inset 0 11.25px 0 rgba(32, 255, 253, 0.65), inset 12.5px 0 0 rgba(33, 0, 220, 0.65), inset 0 -8.75px 0 0 rgba(221, 0, 210, 0.65), inset -9.375px 0 0 rgba(244, 17, 0, 0.65);
  -webkit-animation: rotar 9s -0.5s linear infinite;
          animation: rotar 9s -0.5s linear infinite;
  z-index: -1;
}
.layer:before {
  box-shadow: inset 0 10px 0 rgba(244, 17, 0, 0.65), inset 8.75px 0 0 rgba(221, 0, 210, 0.65), inset 0 -9.375px 0 rgba(33, 0, 255, 0.65), inset -16.25px 0 0 rgba(32, 255, 253, 0.65);
  -webkit-animation: rotarIz 9s -0.5s linear infinite;
          animation: rotarIz 9s -0.5s linear infinite;
  z-index: -1;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.98) scaleY(0.89);
            transform: rotateZ(180deg) scaleX(0.98) scaleY(0.89);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.98) scaleY(0.89);
            transform: rotateZ(180deg) scaleX(0.98) scaleY(0.89);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.85) scaleY(0.98);
            transform: rotateZ(-180deg) scaleX(0.85) scaleY(0.98);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.85) scaleY(0.98);
            transform: rotateZ(-180deg) scaleX(0.85) scaleY(0.98);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
